<div class ="container">
     <div class = "row">   
<h1>Listing all Articles</h1>
<%= link_to "Create New Article", new_article_path, class: "btn btn-success" %>
<br/>
</div>

<div class = "row well">
<table class = "table">
    <br/>
    <div class = "col-md 4">
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </div>
    
   
    <% @articles.each do |a| %>
     <div class = "col-md-6">
    <tr>
        <td><%= a.title %></td>
        <td><%= a.description %></td>
    </div>
    
    <div class = "col-md-2">
        <td><%= link_to "Edit", edit_article_path(a), class: "btn btn-primary" %></td>
        <td><%= link_to "Show", article_path(a), class: "btn btn-success" %></td>
        <td><%= link_to "Delete", article_path(a), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    
    <% end %>
    </div>
</table>
</div>
</div>